<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<meta name="keywords" content="MyDev动漫">
	<meta name="description" content="MyDev动漫 提供各种二次元资源">
	<meta name="csrf-param" content="wetest_crsftoken">
	<meta name="csrf-token" content="d1QyQm52NFpFM10hAxxGbA0laAgbGWUuRBlLNl5GWQMNJwE0PQdlMw==">
	<!--  <tittle>MyDev动漫基地</tittle>  -->
	<link rel="icon" type="image/x-icon" href="\Pic\tittle.ico">
	<script type="text/javascript">
	//waiting to add
</script>
<link rel="stylesheet" type="text/css" href="css/global.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
<!--
<link rel="stylesheet" type="text/css" href="C:\Users\Gray\Desktop\Web\DEV\MyDev\css\bootstrap.min.css">
<link href="C:\Users\Gray\Desktop\Web\DEV\MyDev\css\chosen.css" rel="stylesheet">
<link href="C:\Users\Gray\Desktop\Web\DEV\MyDev\css\datepicker3.css" rel="stylesheet">
-->
</head>

<body>


	<div class="headerB_Wrap" id="headerB_Wrap">
	<div class="headerB">
		<h1 class="index_logo">
		</h1>
		<ul class="index_nav" id="indexNav">
			<li id="productLi"><a href="" style="cursor: default;">产品</a></li>
			<li><a href="">定价</a></li>
			<li><a href="" style="cursor: default;">解决方案</a>
				<ul class="hsolution">
					<li><a href=""><span class="logo game">游戏</span></a></li>
					<li><a href=""><span class="logo app">应用</span></a></li>
				</ul>
			</li>
			<li><a href="">专栏</a></li>
			<li><a href=""  style="cursor: default;">帮助与资源</a>
				<ul class="hsolution">
					<li><a href=""><span class="logo help">帮助中心</span></a></li>
					<li><a href=""><span class="logo whitepaper">质量白皮书</span></a></li>
					<li><a href=""><span class="logo standard">测试标准</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
    <script>
       // document.ready(function(){
          //  $("#headerB_Wrap").animate({top: "33px"}, 300);
         //   document.getElementById("headerB_Wrap").className += " fixHeader";});
        document.getElementById("headerB_Wrap").className += " fixHeader";
        
        

    </script>

    <img src="Pic/OtherPic_611db61f8dde3b2be322de630b6c6441.jpg" style="max-width: 1348px" />


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<!--
<script type="text/javascript" src="js/platform.js"></script>
-->
    <a class="contact-img" id="lxkfqq"></a>
    <div class="feedback" onclick="feedback()"></div>
    <a class="layer_ico layer_top" onfocus="this.blur()" href="javascript:;"></a>
    <script type="text/javascript" src="js/header.js"></script>
   
    <div class="headerMask" id="headerMask" style="display: none; height: 380px;">
            <ul class="mainNav" id="newNav">
                <li class="newNavLi active" onmouseover="navToggle(this)" onmouseout="clearLiTimer()"><span class="toolLogo" style="background: url(http://f.wetest.qq.com/gqop/10000/20002/OtherPic_c4b0245c4817f86c2c97745d70efd1e5.png) no-repeat;"></span><span class="toolName">兼容测试</span>
                    <ol>
                        <a class="productBlock" href="http://wetest.qq.com/product/basic-compatibility-testing" tp1="平台" tp2="首页header" tp3="顶部header" tp4="兼容测试" tp5="标准兼容测试">
                            <div class="ptitle">标准兼容测试</div>
                            <div class="pcontent">快速发现游戏/应用兼容性和性能问题，覆盖安卓主流机型</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/product/expert-compatibility-testing" tp1="平台" tp2="首页header" tp3="顶部header" tp4="兼容测试" tp5="专家兼容测试">
                            <div class="ptitle">专家兼容测试</div>
                            <div class="pcontent">腾讯测试专家帮您定位游戏/应用兼容性、功能问题，覆盖安卓、iOS主流机型</div>
                        </a>
                    </ol>
                </li>
                <li class="newNavLi" onmouseover="navToggle(this)" onmouseout="clearLiTimer()"><span class="toolLogo" style="background: url(http://f.wetest.qq.com/gqop/10000/20002/OtherPic_f38609537c392243de91b08bfa7ee84b.png) no-repeat;"></span><span class="toolName">云真机</span>
                    <ol>
                        <a class="productBlock" href="http://wetest.qq.com/product/cloudphone" tp1="平台" tp2="首页header" tp3="顶部header" tp4="云真机" tp5="远程调试">
                            <div class="ptitle">远程调试</div>
                            <div class="pcontent">通过网页操作云端手机，远在云端，近在眼前。快速定位手游问题</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/phone/step2?test=eff" tp1="平台" tp2="首页header" tp3="顶部header" tp4="云真机" tp5="云端性能测试">
                            <div class="ptitle">云端性能测试</div>
                            <div class="pcontent">使用极速、流畅的云真机进行性能测试，帮助你找到游戏性能瓶颈</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/phone/step2?test=net" tp1="平台" tp2="首页header" tp3="顶部header" tp4="云真机" tp5="弱网络测试">
                            <div class="ptitle">弱网络测试</div>
                            <div class="pcontent">有了弱网络测试，再也不用自己搭建弱网络环境了</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/phone/step2?test=batt" tp1="平台" tp2="首页header" tp3="顶部header" tp4="云真机" tp5="耗电量测试">
                            <div class="ptitle">耗电量测试</div>
                            <div class="pcontent">在云端使用WeTest独家研制的耗电量盒子进行耗电量测试，精准定位手游耗电问题</div>
                        </a>
                    </ol>
                </li>
                <li class="newNavLi" onmouseover="navToggle(this)" onmouseout="clearLiTimer()"><span class="toolLogo" style="background: url(http://f.wetest.qq.com/gqop/10000/20002/OtherPic_99c20d4fdde91b836a983a34dc0b73f0.png) no-repeat;"></span><span class="toolName">性能测试</span>
                    <ol>
                        <a class="productBlock" href="http://wetest.qq.com/product/cube/" tp1="平台" tp2="首页header" tp3="顶部header" tp4="性能测试" tp5="客户端性能">
                            <div class="ptitle">客户端性能</div>
                            <div class="pcontent">资源级内存分析，函数级性能分析，完整的分析结果和优化建议</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/gaps/" tp1="平台" tp2="首页header" tp3="顶部header" tp4="性能测试" tp5="服务器性能">
                            <div class="ptitle">服务器性能</div>
                            <div class="pcontent">通过创建虚拟机器人玩家模拟多用户的并发场景，提供一整套完整的服务器压测解决方案</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/index.php/index/TMM" tp1="平台" tp2="首页header" tp3="顶部header" tp4="性能测试" tp5="内存泄漏检测">
                            <div class="ptitle">内存泄漏检测</div>
                            <div class="pcontent">运行C/C++内存泄漏检测工具，在退出被监控程序时检测出所有没有指针指向的内存块</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/index.php/index/Unity3D" tp1="平台" tp2="首页header" tp3="顶部header" tp4="性能测试" tp5="Unity资源优化">
                            <div class="ptitle">Unity资源优化</div>
                            <div class="pcontent">解除游戏因资源超标而引起的内存占用过高的烦恼</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cube/Apm" tp1="平台" tp2="首页header" tp3="顶部header" tp4="性能测试" tp5="手游客户端性能监控" target="blank">
                            <div class="ptitle">手游客户端性能监控</div>
                            <div class="pcontent">实时监测您的手游性能，精准定位问题机型，对标精品手游性能指标。</div>
                        </a>
                    </ol>
                </li>
                <li class="newNavLi" onmouseover="navToggle(this)" onmouseout="clearLiTimer()"><span class="toolLogo" style="background: url(http://f.wetest.qq.com/gqop/10000/20002/OtherPic_04ea48828a2ac09e86b7b5a305f7f5bd.png) no-repeat;"></span><span class="toolName">舆情分析</span>
                    <ol>
                        <a class="productBlock" href="http://fsight.qq.com/" tp1="平台" tp2="首页header" tp3="顶部header" tp4="舆情分析" tp5="产品风讯" target="blank">
                            <div class="ptitle">产品风讯</div>
                            <div class="pcontent">查看产品口碑和热点评论，关注应用商店评分走势，洞察用户心声</div>
                        </a>
                        <a class="productBlock" href="http://fsight.qq.com/insight/" tp1="平台" tp2="首页header" tp3="顶部header" tp4="舆情分析" tp5="行业风讯" target="blank">
                            <div class="ptitle">行业风讯</div>
                            <div class="pcontent">实时监测游戏资讯，了解游戏与游戏公司口碑与动向</div>
                        </a>
                    </ol>
                </li>
                <li class="newNavLi" onmouseover="navToggle(this)" onmouseout="clearLiTimer()"><span class="toolLogo" style="background: url(http://f.wetest.qq.com/gqop/10000/20002/OtherPic_6af7331d2ba0653476edb4d89e9d6aad.png) no-repeat;"></span><span class="toolName"> 其他产品</span>
                    <ol>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/help/effective" tp1="平台" tp2="首页header" tp3="顶部header" tp4=" 其他产品" tp5="WeTest助手">
                            <div class="ptitle">WeTest助手</div>
                            <div class="pcontent">性能测试、手机控制器两大功能为手游发现CPU、内存、FPS等问题，提供多云端真机用于在线调试</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/index.php/index/tinyTest" tp1="平台" tp2="首页header" tp3="顶部header" tp4=" 其他产品" tp5="轻量测试">
                            <div class="ptitle">轻量测试</div>
                            <div class="pcontent">提早介入游戏测试，通过工具自动化测试、高效率低成本发现问题，提升游戏品质</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/cloud/index.php/phone/step1/test/security" tp1="平台" tp2="首页header" tp3="顶部header" tp4=" 其他产品" tp5="安全扫描">
                            <div class="ptitle">安全扫描</div>
                            <div class="pcontent">只需上传APK，即可从组件权限、网络数据安全、本地数据安全等方面全面保障产品安全</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/product/sr" tp1="平台" tp2="首页header" tp3="顶部header" tp4=" 其他产品" tp5="手游安全测试">
                            <div class="ptitle">手游安全测试</div>
                            <div class="pcontent">连接腾讯安全测试专家，对游戏进行深度安全渗透测试，帮您提早揭露游戏外挂风险</div>
                        </a>
                        <a class="productBlock" href="http://wetest.qq.com/product/ios" tp1="平台" tp2="首页header" tp3="顶部header" tp4=" 其他产品" tp5="iOS预审">
                            <div class="ptitle">iOS预审</div>
                            <div class="pcontent">集合自动化扫描工具和腾讯资深专家团队，为您全面提升iOS审核通过率</div>
                        </a>
                    </ol>
                </li>
            </ul>
    </div>
    <div class="clean"></div>
    <script type="text/javascript">
            var navTimer;
            var productLi = document.getElementById("productLi");
            var headerMask = document.getElementById("headerMask");
            var newNav = document.getElementById("newNav");
            var liLeave = true,
                hLeave = true;
            productLi.onmouseover = function() {
                liLeave = false;
                clearTimeout(navTimer);
                headerMask.style.display = "block";
                var a = newNav.getElementsByTagName("li").length > 0 ? newNav.getElementsByClassName("active")[0].getElementsByTagName("ol")[0].offsetHeight : 320;
                var a = Math.max(a, newNav.offsetHeight);
                headerMask.style.height = a + "px";
            };
            productLi.onmouseleave = function() {
                liLeave = true;
                if (hLeave) {
                    navTimer = setTimeout(function() {
                        $(".headerB_Wrap").removeClass("xhover");
                   //     removeClass(headerB, "xhover");
                   //     removeClass(productLi, "xhover");
                        headerMask.style.display = "none";
                    }, 150);
                }
            };
            headerMask.onmouseover = function() {
                hLeave = false;

                $(".headerB_Wrap").addClass("xhover");
             //   addClass(headerB, "xhover");
              //  addClass(productLi, "xhover");
                clearTimeout(navTimer);
            };
            headerMask.onmouseleave = function() {
                hLeave = true;
                if (liLeave) {
                    navTimer = setTimeout(function() {
                        $(".headerB_Wrap").removeClass("xhover");
                   //     removeClass(headerB, "xhover");
                    //    removeClass(productLi, "xhover");
                        headerMask.style.display = "none";
                    }, 150);
                }
            };

            var liTimer;

            function navToggle(a) {
                if ($(this).hasClass("active")) {
                    return;
                }
              
                liTimer = setTimeout(function() {
                    var d = document.getElementsByClassName("newNavLi");
                    for (var b = 0; b < d.length; b++) {
                        d[b].className = "newNavLi";
                    }
                    a.className += " active";
                    var c = a.getElementsByTagName("ol")[0].offsetHeight ? a.getElementsByTagName("ol")[0].offsetHeight : 320;
                    var c = Math.max(c, newNav.offsetHeight);
                    headerMask.style.height = c + "px";
                }, 150);
            }

            function clearLiTimer() {
                clearTimeout(liTimer);
            }



     function feedback(){
        showModal({
                title: "建议反馈",
                url: "/feedback/view/",
                btnComment: "提交",
                showFooter: false
            });
       }
    </script>

    <div class="cont-w bg-ca">
    	<div class="cont-b">
    		<h3 class="cont-title">移动开发一站式解决方案</h3>
    		<div class="tools-b clearfix">
    			<div class="tool">
    				<p class="tool-title"><span>移动设备兼容问题</span></p> <span class="tool-name">兼容测试</span>
    				<ul class="tool-tools clearfix">
    					<li><a href="">标准兼容测试</a></li>
    					<li><a href="">专家兼容测试</a></li>
    				</ul>
    			</div>
    			<div class="tool">
    				<p class="tool-title"><span>本地手机储备不足</span></p><span class="tool-name">云真机</span>
    				<ul class="tool-tools clearfix">
    					<li><a href="">远程调试</a></li>
    					<li><a href="">云端性能测试</a></li>
    					<li><a href="">弱网络测试</a></li>
    					<li><a href="">耗电量测试</a></li>
    				</ul>
                </div>
                <div class="tool">
                	<p class="tool-title"><span>客户端、服务器性能问题</span></p> <span class="tool-name">性能测试</span>
                	<ul class="tool-tools clearfix performance">
                		<li><a href="">客户端性能</a></li>
                		<li><a href="">服务器性能</a></li><br />
                		<li><a href="">内存泄露检测</a></li>
                		<li><a href="">Unity资源优化</a></li>
                	</ul>
                </div>
                <div class="tool">
                	<p class="tool-title"><span>用户反馈难以全面监测</span></p> <span class="tool-name">运营监测</span>
                	<ul class="tool-tools clearfix">
                	    <li><a href="">产品风讯</a></li>
                		<li><a href="">行业风讯</a></li>
                	</ul>
                </div>
                <div class="tool">
                	<p class="tool-title"><span>安全、权限风险</span></p> <span class="tool-name">其他工具</span>
                	<ul class="tool-tools clearfix">
                	    <li><a href="">手游安全测试</a></li>
                		<li><a href="">安全扫描</a></li>
                		<li><a href="">轻量测试</a></li>
                		<li><a href="">iOS预审</a></li>
                	</ul>
                </div>
                <div class="tool">
                	<p class="tool-title"><span>线上质量问题</span></p> <span class="tool-name">质量监控</span>
                	<ul class="tool-tools clearfix">
                		<li class="fonts_content">敬请期待</li>
                	</ul>
                </div>
    		</div>	
    	</div>
    </div>


    <div class="cont-w" style="background-color: #39404e;padding: 0;">
    	<div class="cont-b">
    		<div class="solutions" onclick="window.location.href='' ">
    			<div class="su-mask">
    				<span class="su-icon su1"></span>
    				<p class="su-title">手游解决方案</p>
    				<p class="su-subtitle">多种类型的S级手游解决方案</p>
    				<a class="su-a">查看详情</a>
    			</div>
    		</div>
    		<div class="solutions" onclick="window.location.href='' ">
    			<div class="su-mask">
    				<span class="su-icon su2"></span>
    				<p class="su-title">应用解决方案</p>
    				<p class="su-subtitle">为企业提供一站式解决方案</p>
    				<a class="su-a">查看详情</a>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="cont-w bg-w">
    	<div class="cont-b">
    		<h3 class="cont-title">我们的服务优势</h3>
    		<div class="serve clearfix">
              <div class="floatLeft"><span class="serve-icon i1"></span></div>
              <dl class="serve-dl"><dt>服务于海量产品</dt>
                 <dd>提供所有腾讯精品游戏质量服务，如《英雄联盟》、《王者荣耀》等</dd>
             </dl>
         </div>
         <div class="serve clearfix">
            <div class="floatLeft"><span class="serve-icon i2"></span></div>
            <dl class="serve-dl"><dt>腾讯质量标准</dt>
             <dd>十三年千款游戏磨砺，铸就精品质量标准</dd>
             <dd>5大维度，41项指标，360°保障产品质量</dd>
            </dl>
         </div>
         <div class="serve clearfix">
            <div class="floatLeft"> <span class="serve-icon i3"></span> </div>
            <dl class="serve-dl"> <dt>腾讯金牌质量团队</dt>
              <dd>腾讯高级专家坐诊</dd>
              <dd>为您提供腾讯顶级游戏同等服务</dd>
            </dl>
         </div>
         <div class="serve clearfix">
            <div class="floatLeft"> <span class="serve-icon i4"></span> </div>
            <dl class="serve-dl"> <dt>独创技术引领革新</dt>
               <dd>基于亿级用户样本的大数据运营分析引擎</dd>
               <dd>次世代自动化游戏测试技术</dd>
            </dl>
         </div>
       </div>
    </div>
    <div class="cont-w cont-safe">
        <div class="cont-b">   
            <p class="safe-title">腾讯立体化安全防护体系，保卫您的信息安全</p>
        </div>
    </div>

    <div class="cont-w bg-w">
        <div class="cont-b">
        <h3 class="cont-title">合作汇聚力量，质量带来快乐</h3>
        <div class="partner clearfix">
            <div class="partner_list"></div>
        </div>
        <span class="partner_arrows left"></span><span class="partner_arrows right"></span>
        </div>
    </div>

    <div class="cont-w footer-banner">
        <div class="footer-mask"></div>
        <div class="cont-b">
            <h3 class="cont-title">现在注册，即可免费领取超值礼包</h3>
            <p class="cont-subtitle">完成注册可获价值310元试用额度；完成个人认证，可获大于5000元测试福利；创建企业，可获得专家兼容精华版代金券3000元。</p>
            <a class="footer-a" href="">注册领取</a>
        </div>
    </div>




    <div class="friend-links cont-w bg-w">
        <div class="cont-b">
            <div class="links-container clearfix">
                <span class="links-begin">友情链接：</span>
                <ul class="item-list">
                    <li class="friend-item"><a href="" target="_blank">GAD腾讯游戏开发者平台</a></li>
                    <li class="friend-item"><a href="">腾讯创服平台</a></li>
                    <li class="friend-item"><a href="">TesterHome</a></li>
                    <li class="friend-item"><a href="">DevStore</a></li>
                    <li class="friend-item"><a href="">博客园</a></li>
                    <li class="friend-item"><a href="">程序员客栈</a></li>
                    <li class="friend-item"><a href="">测试窝</a></li>
                    <li class="friend-item"><a href="">测试之道</a></li>
                    <li class="friend-item"><a href="">游资网</a></li>
                    <li class="friend-item"><a href="">起点学院</a></li>
                    <li class="friend-item"><a href="">推酷</a></li>
                    <li class="friend-item"><a href="">前端教程</a></li>
                    <li class="friend-item"><a href="">互联网的一些事</a></li>
                    <li class="friend-item"><a href="">手游那点事</a></li>
                    <li class="friend-item"><a href="">火狐社区</a></li>
                    <li class="friend-item"><a href="">51Testing</a></li>
                    <li class="friend-item"><a href="">慕课网</a></li>
                    <li class="friend-item"><a href="">9秒社区</a></li>
                    <li class="friend-item"><a href="">segmentfault</a></li>
                    <li class="friend-item"><a href="">安卓巴士</a></li>
                    <li class="friend-item"><a href="">W3school</a></li>      
                </ul>
            </div>
        </div>
    </div>

    <div class="footer_wrap fullDiv">
        
        <div class="container footerC">
            <div class="subfooter">
                <div><a href="">关于我们</a></div>
                <div><a href="">服务协议</a></div>
                <div><a href="">帮助中心</a></div>
                <div><a href="">联系我们</a></div>
            </div>
            <div>Copyright <span>©</span> 1998 - 2017 Tencent. All Rights Reserved <span>腾讯公司 版权所有</span></div>
            <div class="wetest_code code_footer"></div>
        </div>
    </div>


<script type="text/html" id="coorTable">
    {{each data as value i}}
    {{if i%10 == 0}}
        <div class="partner_box clearfix">
    {{/if}}
    <dl>
    <dt style="background-position:{{value.left}}px {{value.top}}px"></dt>
    <dd class="partner_detail">
    <a {{if value.url == ""}} style="cursor:default" {{else}} target="_blank" href="{{value.url}}" {{/if}}>
    {{value.content}}
    </a>
    </dd>
    </dl>
    {{if i%10 == 9 || i == data.length}}
        </div>
    {{/if}}
    {{/each}}
</script>

<script type="text/javascript">
    var data = [
{   
    left: 0, top: 0, url: "", name: "腾讯游戏",
    content: "WeTest平台为腾讯游戏服务十年，为数百款内外部游戏提供专业测试工具、技术，是腾讯游戏对外发行的质量生命保证线。"
},
{
    left: -192, top: 0, url: "", name: "天美艺游",
    content:"WeTest平台对腾讯精品移动游戏工作室——天美艺游，提供手游测试及企鹅风讯的深度服务。"
},
 {
        left: -192 * 2,
        top: 0,
        url: "",
        content: "WeTest平台，为腾讯开放平台百万开发者提供手游及应用企鹅风讯的定制化服务。",
        name: "腾讯开放平台"
    }, {
        left: -192 * 3,
        top: 0,
        url: "",
        content: "WeTest平台的手游云测试工具，是腾讯云服务产品链条上不可或缺的一环。",
        name: "腾讯云"
    }, {
        left: -192 * 4,
        top: 0,
        url: "",
        content: "文智为企鹅风讯提供了专业的词法、句法、情感分析功能，帮助对原始用户评论数据进行智能处理。",
        name: "腾讯文智"
    }, {
        left: 0,
        top: -106,
        url: "",
        content: "金刚为WeTest手游测试提供了组件权限合规性、网络数据安全、本地数据安全等系统安专业检测服务，是产品安全性检测的不二选择。",
        name: "金刚系统"
    }, {
        left: 0,
        top: -106 * 2,
        url: "",
        content: "应用宝是腾讯倾力打造的安卓应用商店，为用户提供了海量而优质的应用、游戏、视频、电子书等服务资源。作为国内安卓应用商店的领军者，目前腾讯应用宝日分发量已经突破1.8亿。",
        name: "腾讯应用宝"
    }, {
        left: -192 * 2,
        top: -106,
        url: "http://e.qq.com",
        content: "腾讯广点通日流量超120亿，海量优质资源，精准受众定向在QQ空间、QQ、微信、腾讯新闻客户端等平台投放。",
        name: "腾讯广点通"
    }, {
        left: -192 * 3,
        top: -106,
        url: "http://xg.qq.com/",
        content: "腾讯信鸽是专业的移动推送平台，通过将通知和消息及时送达精准定向的用户，显著提升用户的活跃度和留存率。",
        name: "腾讯信鸽"
    }, {
        left: -192 * 4,
        top: -106,
        url: "http://daxue.qq.com/",
        content: "腾讯大学作为腾讯特色的学习交流平台，服务于腾讯合作伙伴及用户，面向互联网产业链，传播腾讯经验，分享行业知识及优秀实践。",
        name: "腾讯大学"
    }, {
        left: 0,
        top: -106 * 4,
        url: "",
        content: "巨人网络是集研发、运营、销售为一体的综合性互动娱乐企业。一切以玩家为出发点，旨在做真正属于中国玩家自己的游戏，打造中国人自己的游戏巨作。",
        name: "巨人网络"
    }, {
        left: -192,
        top: -106 * 2,
        url: "",
        content: "莉莉丝游戏，旨在为全世界玩家创造前所未有的游戏体验。",
        name: "莉莉丝游戏"
    }, {
        left: -192 * 2,
        top: -106 * 2,
        url: "",
        content: "北京触控科技有限公司是一家推动、维护、支撑移动数字娱乐行业，以及游戏行业生态的平台型公司。",
        name: "触控科技"
    }, {
        left: -192 * 3,
        top: -106 * 2,
        url: "",
        content: "DeNA，是世界领先的网络服务公司，业务涵盖社交游戏、电子商务等领域。",
        name: "DeNA"
    }, {
        left: -192 * 4,
        top: -106 * 2,
        url: "",
        content: "掌趣，中国领先的移动游戏开发商、发行商和运营商。",
        name: "掌趣"
    }, {
        left: 0,
        top: -106 * 3,
        url: "",
        content: "4399游戏，国内领先的中文游戏平台。集页游、手游、小游戏研发、运营一体；坚持用户体验为核心，提供绿色健康游戏。",
        name: "4399游戏"
    }, {
        left: -192,
        top: -106 * 3,
        url: "",
        content: "昆仑游戏是昆仑万维旗下游戏平台，主要业务集中于网络游戏的研发、运营和全球发行。",
        name: "昆仑游戏"
    }, {
        left: -192 * 2,
        top: -106 * 3,
        url: "",
        content: "游久时代，注重互动式娱乐体验的国内一线互联网游戏发行商与研发商。",
        name: "游久时代"
    }, {
        left: -192 * 3,
        top: -106 * 3,
        url: "",
        content: "盖娅介绍：坚持产品精品化的全球研运一体游戏公司，全球多语言游戏产品、游戏开发者和游戏市场的连接者。",
        name: "盖娅"
    }, {
        left: -192 * 4,
        top: -106 * 3,
        url: "",
        content: "怪糖(上海)网络科技有限公司，精于研发手机、VR等平台的新进游戏开发商。",
        name: "怪糖"
    }];

    var moveI = 0;
    $(document).ready(function() {
        //  $(".slideShow").createBanner(5000);
        $(".solutions").css({
            backgroundSize: "100%"
        });
        $(".solutions").hover(function(){
            $(this).stop().animate({
                backgroundSize: "105%"
            }, 600);
        }, function(){
            $(this).stop().animate({
                backgroundSize: "100%"
            }, 600);
        }
        );
        $(".partner_list").html(template("coorTable", {data:data}));
        $(".partner_list dl").each(function(a){
            var b = $(this);
            b.hover(function(){
                b.find("dt").stop().animate({
                    top: "-106px"
                    }, 200);
                b.find("dd").stop().animate({
                    top: "0px"
                }, 200);
                }, function(){
                b.find("dt").stop().animate({
                    top: "0px"
                }, 200);
                b.find("dd").stop().animate({
                    top: "106px"
                }, 200);
                }
            );
        });
        $(".partner_arrows").click(function(){
            var a = $(".partner_box").length;
            var b;
            if($(this).hasClass("right")){
                moveI++;
                if(moveI >= a - 1){
                    moveI = a - 1;
                    $(this).hide();                   
                }
                else{
                    $(this).show();
                }
                $(".partner_arrows.left").show();
            }
            else{
                moveI--;
                if(moveI <= 0){
                    moveI = 0;
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
                $(".partner_arrows.right").show();
            }
            b = -(moveI * 1080);
            $(".partner_list").animate({
                left: b
              }, 200);
        });
    });

</script>

</body>

</html>
                   
                 


